@model IEnumerable<BookmarkModel>


@if (Model.Any())
{
    <h1>@Model.First().CategoryName</h1>
}
else
{
    <h1>No Bookmarks</h1>
}

<partial name="_BookmarkList" for="@Model" />

<div>
    <a asp-action="Index" asp-controller="Categories">Back to categories</a>
</div>