@model IEnumerable<BookmarkModel>

@{
    ViewData["Title"] = "MyBookmarks";
}

<h1>MyBookmarks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="_BookmarkList" for="@Model" />

<div>
    <a asp-action="Index" asp-controller="Categories">Back to categories</a>
</div>
